html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="description",content="")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		// Place favicon.ico and apple-touch-icon.png in the root directory

		link(rel="stylesheet",href="css/jquery-ui.css")
		link(rel="stylesheet",href="css/normalize.css")
		link(rel="stylesheet",href="css/main.css")
		link(rel="stylesheet",href="css/site.css")

		script(src="js/vendor/modernizr-2.6.2.min.js")

		//-
			Neat thing to display session data
			each val in session
				li!= val

		title CalorieCharge
	body
		div.wrapper
			div
				h1 CalorieCharge
				hr
				if session['username']
					div.charger
						h2 Your Charge
						div#cmeter
							div.label Loading
					button#menubtn.bigform Make Change
					div#menu
						form(action="/modify",method="post")
							input(type="text",name="spend",placeholder="Spend Calories",class="compacttext",autocomplete="false")
							input(type="submit",value=">>",class="compactsubmit")
						form(action="/modify",method="post")
							input(type="text",name="set",placeholder="Set Calories",class="compacttext",autocomplete="false")
							input(type="submit",value=">>",class="compactsubmit")

				else
					form(action="/login",method="post")
						input(type="text",name="username",placeholder="Username",class="bigform")
						input(type="password",name="password",placeholder="Password",class="bigform")
						input(type="submit",value="Login",class="bigform")
				hr
				div.cruft
					p.
						Calorie Charge is a program that counts calories <em>differently</em>.
					p.
						Where most websites or diets may give you a set amount of calories you are allowed to eat per day, CalorieCharge gives you a running total of your current "charge" worth of edible calories!
					p.
						This number is calculated continuously based on a specific "Per-Day" value you have defined, and charges up over time. It represents the amount of food you can eat at any give time. It's a constant update, because your body is. Your body has no concept of "Calories per day", and so this tool lets you decide on that, then never worry about it again. At any give time, you can have all the calories you want, so long as you've charged up long enough! Want some extra food? wait a little bit longer to charge up, then snack away!
					hr

	script(src="js/vendor/jquery-1.10.2.min.js")
	script(src="js/vendor/jquery-ui.min.js")
	script(src="js/plugins.js")
	script(src="js/main.js")